*{
  margin: 0px;
  padding: 0px;
}
.App {
  text-align: center;
}

.main{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

}
.sections{
  margin: 50px 0px;
  height: 300px;
  width: 21%;
}
nav{
  background-color: #464444;
  color: white;
  padding: 20px;
}
nav a{
  color:white;
  text-decoration: none;
  margin-left: 13px;
  font-size: 20px;
}
.navbar{
  width: 80%;
  padding: 15px 25px;
  background-color: rgb(13, 13, 70);
  margin: auto;
  display: flex;
  justify-content: space-between;
  color: whitesmoke;
}
.warning{
  color:rgb(255, 255, 255);
  background: rgb(64, 5, 5);
  padding: 10px 16px;
  position:absolute;
  right: 172px;
  top:123px;
  font-size: 17px;
}

.navItem{
  cursor: pointer;
}

.cursor{
  cursor: pointer;
}
.errMsg{
  background-color: rgb(74, 24, 24);
  color:wheat;
  padding:5px;
  animation: hide 2s;
  position: absolute;
  right:0px;
  top:90px;
}
.tab{
  margin: auto;
}

th{
  padding: 25px;
}
